<div style="text-align: left;">

## Módulo: ED-NA-001 - Extração de Dados I
<br>

## Aula 7 - Exercício 1 - Parte 1
<br>


<div style="text-align: center;">


<img src="https://questdb.io/img/glossary/change-data-capture/dataflow.webp"  width="70%" height="40%">
<br>
<br>
</div>

### Desenvolver um pipeline de dados para extrair os dados da seguinte tabela de um banco de dados criada pelo código abaixo:

In [0]:
import pyspark.pandas as ps
import datetime

# Criar uma lista com os dados dos usuários sem o nome
dados = {'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
         'idade': [30, 18, 67, 45, 19, 21, 25, 36, 46, 59, 72, 25, 37, 14, 59],
         'Local': ['Manaus', 'Fortaleza', 'Fortaleza', 'Sao Paulo', 'Sao Paulo', 'Belo Horizonte', 'Curitiba', 'Goiania', 'Manaus', 'Goiania', 'Belo Horizonte', 'Vitoria', 'Curitiba', 'Maceio', 'Rio de Janeiro']}

base_dados = ps.DataFrame(dados)
base_dados['load_date'] = datetime.datetime.now()

base_dados.to_spark().write.format("delta").mode("overwrite").option("overwriteSchema", "true").saveAsTable("dados_usuarios")

### A tabela pode ser lida com o comando do Pandas "SQL":

In [0]:
df = ps.sql("SELECT * FROM dados_usuarios")
df.head(15)

,ID,idade,Local,load_date
0,1,30,Manaus,2023-09-29 00:37:55.679070
1,2,18,Fortaleza,2023-09-29 00:37:55.679070
2,3,67,Fortaleza,2023-09-29 00:37:55.679070
3,4,45,Sao Paulo,2023-09-29 00:37:55.679070
4,5,19,Sao Paulo,2023-09-29 00:37:55.679070
5,6,21,Belo Horizonte,2023-09-29 00:37:55.679070
6,7,25,Curitiba,2023-09-29 00:37:55.679070
7,8,36,Goiania,2023-09-29 00:37:55.679070
8,9,46,Manaus,2023-09-29 00:37:55.679070
9,10,59,Goiania,2023-09-29 00:37:55.679070
10,11,72,Belo Horizonte,2023-09-29 00:37:55.679070
11,12,25,Vitoria,2023-09-29 00:37:55.679070
12,13,37,Curitiba,2023-09-29 00:37:55.679070
13,14,14,Maceio,2023-09-29 00:37:55.679070
14,15,59,Rio de Janeiro,2023-09-29 00:37:55.679070

### A extração precisa ser feita e salva em uma tabela Delta todos os dias as 13 horas. Não deve ser considerada duplicadas na carga. Além da extração com a carga em sequência, é preciso construir um pipeline de transformação que é atualizado após a carga com o seguinte objetivo:

### -> Calcular a idade média dos usuários por cidade.

### Utilize os seguintes comandos para simular modificações no banco de dados fonte e fazer testes no seu pipeline, como inserções, atualizações e remoções no banco:

In [0]:
%sql
INSERT INTO dados_usuarios
VALUES (16, 22, "Curitiba", CURRENT_TIMESTAMP)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
UPDATE dados_usuarios SET Local = 'Belo Horizonte', load_date = CURRENT_TIMESTAMP  WHERE ID = 1

num_affected_rows
1

In [0]:
%sql
UPDATE dados_usuarios SET Local = 'Rio de Janeiro', load_date = CURRENT_TIMESTAMP WHERE ID = 4

num_affected_rows
1

In [0]:
%sql
UPDATE dados_usuarios SET idade = 20, load_date = CURRENT_TIMESTAMP WHERE ID = 5

num_affected_rows
1

In [0]:
%sql
DELETE FROM dados_usuarios WHERE ID=2 OR ID=14

num_affected_rows
2