<div style="text-align: left;">

## Módulo: ED-NA-001 - Extração de Dados I
<br>

## Aula 2 - Exercício 1
<br>

#### Desenvolver um pipeline de dados com a API Nominatim para consultar a latitude e longitude de uma arquivo com endereço de escolas do Rio de Janeiro:

> #### 1 - Extrair o arquivo "df_escolas.csv" disponível no LMS;
> #### 2 - Extrair os dados de latitude e longitude pela API Nominatim a partir do endereço de cada escola do arquivo "df_escolas.csv";
> #### 3 - Combinar todos os resultados em um único dataframe e carregar o resultado final em um arquivo Parquet.

#### Dataframe com os endereços das escolas:

In [0]:
import pyspark.pandas as ps

arq_leitura = "/FileStore/tables/aula_2/exercicio/df_escolas.csv"

df = ps.read_csv(arq_leitura).drop(["_c0"], axis='columns')

df.head(5)

,id,escolas_postos,bairro,endereço,lat,lon,quantidade,subprefeitura,tipo_escola,numero
0,178,HENFIL,CAJU,RUA CARLOS SEIDL,-22.88089,-43.22533,20,CENTRO,CIEP,S/N
1,634,ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO,-22.88957,-43.23620,121,CENTRO,EM,187
2,600,URUGUAI,BENFICA,RUA ANA NERI,-22.89849,-43.23776,591,CENTRO,EM,192
3,476,FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA,-22.89763,-43.22746,190,CENTRO,EM,20
4,163,LAUDIMIA TROTTA,TIJUCA,RUA ANTONIO BASILIO,-22.92684,-43.23789,576,GRANDE TIJUCA,EM,370

> #### A API Nominatim permite consultar dados geográficos, como a latitude e a longitude, a partir de um endereço de forma gratuita:

> https://nominatim.openstreetmap.org/ui/search.html

> https://nominatim.org/release-docs/develop/api/Overview/

In [0]:
# biblioteca "requests" permite fazer requisições em API com o Python
import requests

# A URL base da API para fazer buscas em texto livre
base_url = 'https://nominatim.openstreetmap.org/search?q='

# O texto que será pesquisado
busca = '%Edifício%Pedra%Grande%Brigadeiro%Faria%Lima%1306%'

# Construir o URL a partir do URL base, o endereço e o formato para voltar em JSON
url = base_url + busca + "&format=json"

# Envia a requisição URL com o método GET
response = requests.get(url)

response

Out[22]: <Response [200]>